$mainColor: #f7f7f7;
$secondColor: #fffff0;
$thirdColor: #ECE3A5;
$warningColor: #FF6347;
$salmon: #fa8072;
$sky: rgba(42, 102, 134, 0.9);
$gold: #ffd700;
$shadow: #ccc;
$dark: #808080;
$textColor: #000000;
$lemonchiffon: #fffacd;
$slategray: #708090;
$darkgreen: #006400;

$normalPadding: 15px;